.chat {
    max-width: 600px;
    margin: auto;
    height: 100vh;

    .containerMessages {
        display: flex;
        flex-direction: column;
        position: relative;
        height: calc(100% - 200px);
        overflow-y: scroll;

        & > :first-child {
            margin-top: auto;
        }
    }

    .containerInput {
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;

        textarea {
            width: 80%;
            display: block;
            border-radius: 25px 0 0 25px;
            height: 100px;
            padding: 10px;
        }
    }
}