.chat {

  .containerMessages{
    position: relative;
  }

  .containerCountdown {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inputs{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
  }


  .containerInput {
    position: relative;
    width: 80%;
    height: 120px;
    margin: auto;

    textarea {
      position: absolute;
      bottom:0;
      width: 100%;
      height: 2rem;
      display: block;
      background-color: white;
      border-radius: 5px;
      border: 2px solid black;
      resize: none;
      transition: all 0.5s cubic-bezier(.33,1.32,.73,.99) 0.25s;
      font-family: var(--font-work-sans);
      font-size: 0.75rem;
      color: rgba(0, 0, 0, 1);
      padding: 0.5rem;
        &:focus {
          & ~ button{
            opacity: 1;
            transform: scale(1) ;
            transition: transform 0.33s cubic-bezier(.34,1.56,.74,1.17) 0.33s, opacity 0.75s ease-out 0.33s;
          }
          & ~ .clearBtn{
            transform: scale(1);
            transition: transform 0.15s cubic-bezier(.34,1.56,.74,1.17) 0.5s, opacity 0.15s ease-out 0.5s;
          }
          outline: none;
          height: 100%;
          color: rgba(0, 0, 0, 1);
          transition: all 0.66s cubic-bezier(.55,-0.31,.12,1.48);
        }

        &:focus-visible {
            outline: none;
        }
    }

    button {
      position: absolute;
      bottom: 1em;
      right: 1em;
      background-color: var(--backgroundColor);
      border-radius: 50%;
      border: 2px solid black;
      width: 30px;
      height: 30px;
      cursor: pointer;
      opacity: 0;
      transform-origin: center center;
      transform: scale(0.8);
      transition: all 0.25s ease-out 0.15s ;
      img{
        width: 20px
      }
    }

    .clearBtn{
      right: 4em;
      transition: all 0.25s ease-out 0s ;


    }
  }


}
