.message{
    max-width: 90%;
    font-size: 14px;
    display: block;
    padding: 10px 20px;
    text-align: center;
    font-style: italic;
    margin: 0 auto;
    &.send{
        font-weight: normal;
    }
}