.footer{
    height: 190px;
    position: relative;
    display: flex;
    align-items: flex-end;


    .content{
        display: flex;
        justify-content: space-between;
        position: relative;   
        padding: 25px;   
        z-index: 1;
        width: 100%;
    }
}

.bg{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 1s ease-out;
  z-index: 0;
  &.hidden{
    opacity: 0;
  }
}