.containerRecording{
  position: relative;
  padding: 1rem;
  margin-bottom: 3rem;
  margin-top:4rem;
  background: transparent;
  border:none;


  .recording {
    height: 60px;
    width: 60px;
    cursor: pointer;
  }

  .clip{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    &:last-child{
      top:calc(50% + 2px);
      left: calc(50% + 2px);
      z-index: -1;
    }
  }

}

