.recording {
  background-image: url("/images/icon-mic.svg");
  background-size: contain;
  height: 70px;
  width: 70px;
  cursor: pointer;

  &.recordingActive {
    background-image: url("/images/icon-mic-active.svg");
  }
}
