.recording {
  background-image: url("/icon-mic.svg");
  background-size: contain;
  height: 60px;
  width: 60px;
  cursor: pointer;

  &.recordingActive {
    background-image: url("/icon-mic-active.svg");
  }
}
