

.containerLeft{

}

.containerRight{
    display: flex;
    align-items: center;
    gap: 10px;

    .imgSoundContainer{
        width: 60px;

        img{
            height: 100%;
        }
    }
}
