.countdown {
  font-weight: bold;
  font-family: var(--font-contrail-one);

  &.end {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }

  p {
    position: relative;
    font-size: 4rem;
    display: inline-block;
    &.dot {
      -webkit-text-stroke: 1px black;
      text-stroke: 1px black;
      color: var(--backgroundColor);
    }
    span {
      position: absolute;
      -webkit-text-stroke: 0px black;
      text-stroke: 0px black;
      z-index: -1;
      color: var(--backgroundColor);
      top: 0.035em;
      left: 0.035em;
    }
  }

  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateX(-3px);
    }
    20%,
    40%,
    60%,
    80% {
      transform: translateX(3px);
    }
  }
}
