.countdown{
  font-weight:bold;
  font-family: var(--font-contrail-one);
  p{
    position: relative;
    font-size:4rem;
    display: inline-block;
    &.dot{
      -webkit-text-stroke: 1px #1c1c1e;
      text-stroke: 1px #1c1c1e;
      color: var(--backgroundColor);
    }
    span{
      position: absolute;
      -webkit-text-stroke: 0px #1c1c1e;
      text-stroke: 0px #1c1c1e;
      z-index: -1;
      color: var(--backgroundColor);
      top: 0.035em;
      left: 0.035em;
    }
  }
}