@font-face {
  font-family: Nighty;
  src: url("./font/Nightydemo.otf") format("opentype");
}

@font-face {
  font-family: ContrailOne;
  src: url("./font/ContrailOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: WorkSans;
  src: url('./font/WorkSans-VariableFont_wght.ttf') format('truetype');
}

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --backgroundColor : #EFEBE2;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  font-size: clamp(16px,2.5vw,24px);
}

@media (prefers-color-scheme: dark) {
  :root {
  
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

html,
body {
  position: relative;
  height: 100svh;
  width: 100svw;
  max-width: 100vw;
  overflow-x: hidden;
  background: var(--backgroundColor);
  overflow: hidden;
  font-family: var(--font-work-sans);
}

h1,h2,h3,h4{
  font-family: var(--font-contrail-one);
  font-weight: 400;
  letter-spacing: -0.01em;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
  
  }
}

.header{
  position: relative;

  z-index: 10;
  display: flex;
  justify-content: space-between;
  height: 80px;
  padding: 20px 20px 10px 20px;
  pointer-events: none;
  opacity: 0;
}


.pageContainer {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;

}

.swiper-slide{
  transform-style: preserve-3d;
  perspective: 1000px;
}

.turned{
  transform: translate(-50%,-50%) rotateY(180deg);
}

.swiper-pagination{
  display: flex;
  gap: 1rem;
  width: 5rem;
  justify-content: center;
  margin: 1rem auto;
}

.swiper-pagination-bullet{
  width: .5rem;
  height: .5rem;
  border-radius: 10px;
  border: 1px solid #221F1F;
  background: #221F1F;
  box-shadow: 0px 0px 0  #221F1F;
  transition: all 0.25s linear;
}

.swiper-pagination-bullet-active{
  height: .5rem;
  width: 4rem;
  background: var(--backgroundColor);
  border-radius: 10px;
  box-shadow: 1px 1px 0 var(--colorActive);
}