.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    max-width: 500px;
    .logoContainer{
      position: relative;
      height: 350px;
      width: 550px;
    }
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 100%;
      height: auto;
    }

    .blob {
      position: relative;
      pointer-events: none;
    }
  }
}

.back,
.front {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
