.button {
  position: relative;
}

.player {
  position: relative;
  width: 3em;
  height: 3em;
  background-color: grey;
  border-radius: 50%;
  border: none;
  pointer-events: auto;
  z-index: 2;
  cursor: pointer;
}

.blobButton {
  -webkit-tap-highlight-color: transparent; 
}

.linkButton {
  position: relative;
  width: 12em;
  height: 2.33em;
  //transition: all 0.25s cubic-bezier(0.65, 0, 0.35, 1);

  & > div {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 0.5em;

    > p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: bold;
    }
  }

  .principal {
    position: absolute;
    background: var(--backgroundColor);
    transform: translateY(-8px);
    z-index: 1;
    border: #1c1c1e 3px solid;
    //transition: all 0.25s cubic-bezier(0.65, 0, 0.35, 1);
  }

  &.disabled {
    color: rgba(128, 128, 128, 0.3);
    border-color: rgba(128, 128, 128, 0.3);
    cursor: not-allowed;
    .principal {
      border: rgba(128, 128, 128, 0.3) 3px solid;
      transform: translateY(0px);
    }
  }

  .sub {
    border: #1c1c1e 3px solid;
    border-width: 2px;
  }
}
