.button{
  position: relative;
}

.player{
  position: relative;
  width: 3em;
  height: 3em;
  background-color: grey;
  border-radius: 50%;
  border: none;
  pointer-events: auto;
  z-index: 2;
  cursor: pointer;
}