.button{
  position: relative;
  --colorButton: red;
}

.player{
  position: relative;
  width: 3em;
  height: 3em;
  background-color: var(--colorButton);
  border-radius: 50%;
  border: none;
  pointer-events: auto;
  z-index: 2;
  cursor: pointer;
}