.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .container{
        text-align: center;
        
        .btnPlay{
            background-color: #1C1C1E;
            margin: auto;
            margin-top: 20px;
            display: block;
            width: 130px;
            color: #fff;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 20px;
            cursor: pointer;
        }
    }
}