.canvas {
  /* make the canvas wrapper fits the document */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 500px;
  height: 500px;
}
.plane {
  /* define the size of your plane */
  width: 500px;
  height: 500px;
}
.plane img {
  /* hide the img element */
  display: none;
}