.galerie {
  position: absolute;
  z-index: 10;
  background-color: #1c1c1e;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 40px;
  overflow-y: auto;

  .card {
    background: var(--backgroundColor);
    width: 160px;
    height: 160px;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .containerImg {
      width: 95%;
      height: 95%;
      border-radius: 10px;
      overflow: hidden;

      img {
        position: relative;
        width: 100%;
      }
    }
  }

  .full {
    position: fixed;
    z-index: 100;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba($color: #1c1c1e, $alpha: 0.8);

    p{
        margin-top: 20px;
        font-family: ContrailOne;
        color: #EFEBE2;
        text-align: center;
        font-size: 36px;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
  }

  .header {
    display: flex;
    justify-content: flex-end;
  }

  .content {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, 160px);
    margin-top: 20px;
    gap: 40px;
    justify-items: center;
    justify-content: center;
  }
}
