.imgShaders{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contentSentence{
  border-top: 2px solid black;
  padding: 20px;
}

.containerChrono{
  text-align: center;
}

.dragBtn{
  cursor: pointer;
}