.main {
  position: relative;
  height: calc(100vh - 80px);

  .content {
    height: calc(100% - 190px);
    width: 100%;
    position: relative;
    text-align: center;
  }
}

.conversation{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 450px;
  h3{
    font-size: 56px;
    
  }
}


.imgShaders{
  display: flex;
  gap: 3rem;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
}

.singleImage{
  position: relative;
}

.contentSentence{
  border-top: 2px solid #1c1c1e;
  padding: 20px;
}

.containerChrono{
  text-align: center;
  height: 150px;
}

.dragBtn{
  cursor: pointer;
}
.indicatorPoint{
  position: absolute;
  bottom: -.5rem;
  left: 50%;
  transform: translate(-50%,-50%);
}
